@inherits LayoutComponentBase
<div class="page">
    
    
    <main>
    <div>
        <NavMenu/>
    </div>
    <article class="px-4">
        @Body
    </article>
    
    <div>
        <BottomNav/>
    </div>
    </main>
</div>
