<nav
  class="navbar px-4 bg-gray-400"
  style="
    font-family: var(--font-sans);
  ">
  <div class="flex-1">
    <a
      href="#"
      class="text-xl font-bold tracking-tight text-black"
      style="
        font-family: var(--font-sans);
      "
    >
      SelfQuest
    </a>
  </div>
</nav>



@code {
    

}